@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    "A única forma de alcançar a evolução humana é trilhando o caminho do saber e do processo de civilização"<br />
    <strong>Matheus</strong><br />
</address>

<address>
    <strong>Email Pessoal:</strong> <a href="mailto:matheus.macedo@gmail.com">Matheus.macedo@gmail.com</a><br />
    <strong>Email Empresarial:</strong> <a href="mailto:matheus.empresarial@gmail.com">Matheus.empresarial@gmail.com</a>
</address>
